*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-family: " Montserrat ", sans-serif;
  font-size: 16px;
  font-weight: 400; }

.heading-4 {
  font-weight: 700;
  font-size: 19px;
  text-transform: uppercase;
  margin-top: 20px; }

.heading-5 {
  margin: 20px 0; }

.btn {
  font-size: 14px;
  text-transform: uppercase;
  background-color: #ffe001;
  font-weight: 800;
  padding: 7px 20px;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 1s; }
  .btn:hover, .btn:visited {
    background-color: #e38c04;
    transform: translateY(-5px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
    border: solid 1px rgba(227, 140, 4, 0.6); }

.header {
  max-height: 100vh;
  background-image: linear-gradient(105deg, #ffe001 65%, #e4e2a7 35%);
  padding: 50px 70px;
  position: relative; }
  .header__logo {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header__logo-img {
      height: 45px; }
  .header__phone {
    display: flex;
    align-items: end; }
    .header__phone-img {
      height: 40px;
      margin-left: 10px; }
    .header__phone p {
      font-weight: 800;
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 1px; }
    .header__phone span {
      display: block;
      font-size: 17px; }
  .header::after {
    content: url(../img/spageti.png);
    position: absolute;
    bottom: -147px;
    left: -136px; }

.navbar__list {
  text-transform: uppercase;
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-top: 20px;
  margin-left: 756px; }

.navbar__link {
  text-decoration: none;
  display: inline-block;
  color: #000;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  transition: all ease-in 0.4s; }
  .navbar__link:hover, .navbar__link:visited {
    transform: rotate(-3deg) scale(1.1); }

.heading__box {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .heading__box-photo {
    width: 35%;
    position: relative; }
    .heading__box-photo::before {
      content: url(../img/tomato.png);
      position: absolute;
      bottom: -17px;
      left: -98px; }
    .heading__box-photo::after {
      content: url(../img/leaf2.png);
      position: absolute;
      bottom: 6px;
      right: -90px; }
    .heading__box-photo img {
      width: 100%; }

.heading {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .heading-2 {
    font-family: "Gabelisa";
    font-size: 40px;
    margin-bottom: 20px;
    position: relative; }
    .heading-2::before {
      content: url(../img/leaf.png);
      position: absolute;
      bottom: -17px;
      left: -98px; }
    .heading-2::after {
      content: url(../img/spa.png);
      position: absolute;
      bottom: 6px;
      right: -200px; }
  .heading-1 {
    font-family: Fredericka the Great;
    font-size: 75px;
    margin-bottom: 15px; }
  .heading-3 {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 15px;
    border-bottom: solid 1px rgba(59, 58, 58, 0.4);
    margin-bottom: 20px; }
  .heading-btn {
    border: solid 1px rgba(0, 0, 0, 0.6); }

.font__number {
  display: flex;
  align-items: center;
  font-family: Fredericka the Great;
  width: 45%; }
  .font__number-1 {
    font-size: 12px; }
  .font__number-2 {
    font-size: 35px; }

.menu {
  padding: 90px 0; }
  .menu__paragraph {
    width: 85%;
    margin: 0 auto;
    text-align: center; }
    .menu__paragraph p {
      font-size: 17px;
      line-height: 25px; }
  .menu__heading-1 {
    font-family: Fredericka the Great;
    font-size: 50px;
    margin-bottom: 10px; }
  .menu__box {
    display: grid;
    padding: 0 65px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 10px;
    justify-items: center;
    position: relative; }
    .menu__box::after {
      content: "";
      display: block;
      height: 100px;
      width: 100%;
      right: 0;
      z-index: -10;
      position: absolute;
      left: 0;
      top: 116px;
      background-color: #e4e2a7; }
    .menu__box-img {
      height: 270px;
      width: 270px; }
    .menu__box figure {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 25px; }
    .menu__box figcaption {
      text-align: center;
      width: 300px; }
  .menu-btn {
    border: none; }
