.footer {
  background-image: url(../img/footer.png);
  background-size: cover;
  margin-top: 60px;
  padding: 40px 110px;
  max-height: 580px;
  &__logo {
    width: 310px;
    margin-bottom: 54px 0;
  }
  &__paragraph {
    display: flex;
    padding: 70px 0;
    justify-content: space-between;
  }
  p {
    color: #fff;
    width: 47%;
    line-height: 19px;
  }
  &-icon {
    fill: $color-primary;
    width: 25px;
    height: 25px;
    margin-right: 12px;
  }
  &-mail,
  &-adress {
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
      color: #fff;
      cursor: pointer;
      transition: all 0.4s;
      &:hover,
      &:active,
      &:visited {
        color: $color-primary;
      }
    }
  }
}

.copyright {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  p {
    font-family: " Montserrat ";
  }
  &-images {
    cursor: pointer;
    img:hover {
      animation: updown 0.8s 0.2s;
    }
  }
}

@keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px) scale(1.3);
  }
  100% {
    transform: translateY(3px);
  }
}
