.form {
  &__text {
    text-align: center;
    margin-bottom: 40px;
  }
  &__input {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 60%;
    margin: 65px auto 100px;
    @media only screen and (max-width: 900px) {
      width: 70%;
    }
    @media only screen and (max-width: 700px) {
      width: 50%;
    }
    @media only screen and (max-width: 600px) {
      width: 70%;
    }
  }
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="time"],
input[type="date"],
input[type="submit"] {
  width: 45%;
  padding: 15px 22px;
  @media only screen and (max-width: 700px) {
    width: 100%;
  }
  @media only screen and (max-width: 600px) {
    padding: 10px 17px;
  }
  &::placeholder {
    font-size: 16px;
  }
}

input[type="submit"] {
  background: $color-primary;
  font-size: 21px;
  font-weight: 700;
  font-family: "Montserrat";
  border: none;
  @media only screen and (max-width: 600px) {
    font-size: 15px;
  }
}
