.menu {
  padding: 90px 0;
  &__paragraph {
    width: 77%;
    margin: 0 auto;
    text-align: center;
    p {
      font-size: 17px;
      line-height: 25px;
      @media only screen and (max-width: 1000px) {
        font-size: 14px;
      }
    }
  }
  &__heading-1 {
    font-family: Fredericka the Great;
    font-size: 50px;
    margin-bottom: 10px;
    @media only screen and (max-width: 1000px) {
      font-size: 45px;
    }
  }
  &__box {
    display: grid;
    padding: 0 58px;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    grid-column-gap: 70px;
    justify-items: center;
    position: relative;
    @media only screen and (max-width: 750px) {
      grid-column-gap: 40px;
    }
    @media only screen and (max-width: 600px) {
      padding: 0 35px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
    }
    &::after {
      content: "";
      display: block;
      height: 120px;
      width: 100%;
      right: 0;
      z-index: -20;
      position: absolute;
      left: 0;
      top: 35%;
      background-color: $color-primary-light;
      @media only screen and (max-width: 1300px) {
        top: 25%;
      }
      @media only screen and (max-width: 900px) {
        top: 20%;
      }
      @media only screen and (max-width: 840px) {
        top: 17%;
      }
      @media only screen and (max-width: 750px) {
        display: none;
      }
    }
    &-img {
      width: 100%;
      filter: drop-shadow(5px 5px 30px rgba(#000, 0.4));
      margin-bottom: 15px;
      height: 100%;
      object-fit: contain;
      @media only screen and (max-width: 600px) {
        width: 45%;
      }
      @media only screen and (max-width: 470px) {
        width: 65%;
      }
    }
    figure {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 35px;
      width: 100%;
      @media only screen and (max-width: 600px) {
        flex-direction: row;
        gap: 40px;
        &:nth-child(2) {
          flex-direction: row-reverse;
        }
      }
      @media only screen and (max-width: 470px) {
        flex-direction: column;
        gap: 5px;
        border-bottom: solid 1px rgba(#000, 0.2);
        padding-bottom: 15px;
        &:nth-child(2) {
          flex-direction: column;
        }
      }
    }
    figcaption {
      text-align: center;
      width: 345px;
      @media only screen and (max-width: 1000px) {
        width: 100%;
        h4,
        h5 {
          width: 100%;
          margin: 15px auto;
        }
      }
      @media only screen and (max-width: 600px) {
        text-align: start;
      }
      @media only screen and (max-width: 470px) {
        text-align: center;
      }
    }
  }
  &-btn {
    font-size: 16px;
    border: none;
    font-weight: 700;
    padding: 13px 28px;
    @media only screen and (max-width: 1000px) {
      font-size: 13px;
      padding: 9px 22px;
    }
    @media only screen and (max-width: 600px) {
      font-size: 12px;
      padding: 7px 18px;
    }
  }
}
